<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="path/to/font-awesome/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="css/dark-mode.css" />
		<link rel="stylesheet" href="css/index.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		/>

		<title>Shared Lists</title>
	</head>
	<body>
		<div class="dark-screen">
			<div class="bg"></div>
			<div id="toggle" class="toggle-btn"></div>
			<div id="blender" class="expand"></div>
			<div class="container">
				<div class="main">
					<img src="images/logo.png" class="notepad" /><br />
					<h1>FAV LISTS</h1>
					<p>Create and share your to-do lists</p>
					<div class="buttons-container">
						<a href="/login">Login</a>
						<a href="/signup">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/dark.js"></script>
	</body>
</html>
