<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap"
		rel="stylesheet"
	/>
	<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Lobster+Two:ital@1&display=swap"
		rel="stylesheet"
	/>
</head>
<body>
    <div class="dark-screen">
        <div class="bg"></div>
        <div id="toggle" class="toggle-btn">
            <i id="sun" class="fa-solid fa-sun fa-3x visible"></i>
            <i id="moon" class="fa-solid fa-moon fa-3x"></i>
        </div>
        <div id="blender" class="expand"></div>
        <div class="container">
            <div class="main">
                <h1>Shared Todos</h1>
                <ul>
                <% shared.forEach( el => { %>
                        <li class='todoItem' data-id='<%=el._id%>'>
                            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.shared %></span>
                            <span class='delShared'> Delete </span>
                        </li>
                <% }) %>    
                </ul>
                </br>
                <form action="/shared/createShared" method='POST'>
                    <input type="text" placeholder="Enter Shared Todo Item" name='sharedItem'>
                    </br>
                    <!-- <input type="text" placeholder="Enter username to share this with" name='sharedItem'> -->
                    <input type="submit">
                </form>
                </br>
            </div> 
        </div>
    </div>
   
    <a href="/todos">Todos</a>
    </br>
    <a href="/logout">Logout</a>

    <script src="/js/shared.js"></script>
    <script src="/js/darkMode.js"></script>
</body>
</html>