* {
  font-family: "Fjalla One", sans-serif;
}

body {
  font-family: "Fjalla One", sans-serif;
  color: #3e4c5e;
  overflow: hidden;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.main {
  max-width: 100%;
  display: block;
  margin: 0px auto;
  text-align: center;
}

.del {
  color: #b11531;
  font-size: 12px;
}

li {
  font-size: 25px;
  list-style-position: inside;
  list-style-type: decimal;
  text-align: left;
  text-decoration: none;
}

h1 {
  font-size: 50px;
  margin-top: 3px;
  letter-spacing: 6px;
  margin-bottom: 0;
}
p {
  font-size: 25px;
  margin-top: -10px;
  font-weight: 100;
  color: black;
}

.button-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 46px;
}
.button-container a {
  background-color: #b11531;
  color: white !important;
  text-decoration: none !important;
  border-radius: 34px;
  padding: 10px 25px;
  font-size: 15px;
}
.font-secondary{
  font-family: 'Lobster Two', cursive;
}