* {
  font-family: "Fjalla One", sans-serif;
}

body {
  font-family: "Fjalla One", sans-serif;
  color: #3e4c5e;
  overflow: hidden;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.main {
  max-width: 100%;
  display: block;
  margin: 0px auto;
  text-align: center;
}
